html
  head
    title!= title
    style.
      table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
      }
      .pathtitle {
        color: #c63d3d;
        font-family: inherit;
        padding: 10;
        width: 100%;
      }
      .pathvalue {
        color: #c63d3d;
        font-family: monospace;
        padding: 10;
        width: 40%;
      }
      .route {
        padding: 10px;
        width: 100%;
      }
  body
    each route, i in routes
      h2 API for #{route.base}
      table
        thead
          tr
            th
            th.pathtitle Path
        tbody
          each path, j in route.table
            tr
              td.pathvalue #{path[Object.keys(path)[0]][0]} 
              td.route: a(href="/v0.1"+path[Object.keys(path)[0]][1]) #{path[Object.keys(path)[0]][1]}